<div class="foot_top c">
    <div class="footer c">
        <ul>
            <li class="footer_li1">
                <div class="foot_li c">
                    <div class="foot_li_title">联系我们</div>
                    <div class="foot_li_phone" id="footerPhone"></div>
                    <div class="foot_li_addr">
                        <p id="footerAddress"></p>
                        <p>官网：<span id="footerUrl"></span></p>
                    </div>
                    <div class="foot_li_zongji">
                        <p>联系传真: <span id="footerFax"></span></p>
                        <p>联系邮编: <span id="footerPostcode"></span></p>
                    </div>
                    <a href="">
                        <div class="foot_li_more">了解更多</div>
                    </a>
                </div>
            </li>
            <li class="footer_li2">
                <div class="foot_li c">
                    <div class="foot_li_title">"精益求精，诚信为本"</div>
                    <div class="foot_li_ewm c">
                        <div class="foot_li_ewm_a">
                            <img src="img/2vcode.png" alt="">
                        </div>
                        <div class="foot_li_ewm_a">
                            <img src="img/2vcode.png" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li class="footer_li3">
                <div class="foot_li c">
                    <div class="foot_li_title">网站导航</div>
                    <div class="foot_li_list c">
                        <ul>
                            <li><a href="" class="go-in">走进公司</a></li>
                            <li><a href="">产品中心</a></li>
                            <li><a href="">工程案例</a></li>
                            <li><a href="">新闻动态</a></li>
                            <li><a href="">人才招聘</a></li>
                            <li><a href="">联系我们</a></li>
                            <li><a href="admin/index.html" target="_blank">网站管理</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="foot_bottom c">
    <div class="foot_bottom_box c">
        <span id="footerArchival">​</span>
        <a TARGET="_blank" href="http://www.cdchiy.com/">网站建设：驰云科技</a>
    </div>
</div>

